<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643236484157-apdpj9mmvjguenpe7b3hhqufig2c22uc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643236484157-apdpj9mmvjguenpe7b3hhqufig2c22uc</string>
	<key>API_KEY</key>
	<string>AIzaSyCj10D3o7GwkR764jmMeBsgdUTICrTfZ-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>643236484157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Studio314.OneYes</string>
	<key>PROJECT_ID</key>
	<string>oneyes-ac22c</string>
	<key>STORAGE_BUCKET</key>
	<string>oneyes-ac22c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643236484157:ios:d15654f559efa7f5548654</string>
</dict>
</plist>